<div class="container">
    <h2>Equipos - Administración</h2>
    <div class="edit-team">
        <h2>Agregar Nuevo Equipo</h2>
        <form [formGroup]="formGroup" (ngSubmit)="addTeam()">
            <div class="form-group">
                <label for="countryid">Id del país (código telefónico)</label>
                <input id="countryid" formControlName="countryid" type="text" />
              </div>
              <br>
            <div class="form-group">
              <label for="name">Nombre del Equipo</label>
              <input id="name" formControlName="name" type="text" />
            </div>
            <br>
            <div class="form-group">
                <label for="country">País</label>
                <input id="country" formControlName="country" type="text" />
            </div>
            <button type="submit">Agregar</button>
          </form>
        </div>
      
        <div class="edit-team">
          <h2>Eliminar Equipo</h2>
          <form [formGroup]="deleteFormGroup" (ngSubmit)="deleteTeam()">
            <div class="form-group">
              <label for="teamIdDelete">Nombre del Equipo</label>
              <span class="p-float-label">
                <p-dropdown 
                    [options]="teams" 
                    formControlName="teamIdDelete" 
                    optionLabel="label" 
                    placeholder="Nombre del equipo"
                    [style]="{'width':'15.3rem'}" />
              </span>
            </div>
            <button type="submit">Eliminar</button>
          </form>
        </div>
</div>
