<div class="container">
    <h2>Administrar Carreras</h2>

    <p-dialog header="Registro exitoso" [(visible)]="displayModalAdd" modal="true" [closable]="false" [dismissableMask]="true">
      <p>La carrera se ha agregado exitosamente.</p>
      <p-button label="Aceptar" severity="info" (onClick)="onAccept()" [style]="{'float':'right', 'margin-top':'10px'}"></p-button>
    </p-dialog>

    <p-dialog header="Eliminación exitosa" [(visible)]="displayModalDelete" modal="true" [closable]="false" [dismissableMask]="true">
      <p>La carrera se ha eliminado exitosamente.</p>
      <p-button label="Aceptar" severity="info" (onClick)="onAccept()" [style]="{'float':'right', 'margin-top':'10px'}"></p-button>
    </p-dialog>


    <div class="edit-career">
      <h2>Agregar Nueva Carrera</h2>
      <form [formGroup]="formGroup" (ngSubmit)="addCareer()">
        <div class="form-group">
          <label for="careerName">Nombre de la Carrera</label>
          <input id="career" formControlName="career" type="text" />
        </div>
        <button type="submit">Agregar</button>
      </form>
    </div>

    <div class="edit-career">
      <h2>Eliminar Carrera</h2>
      <form [formGroup]="deleteFormGroup" (ngSubmit)="deleteCareer()">
        <div class="form-group">
          <label for="careerIdDelete">Nombre de la Carrera</label>
          <span class="p-float-label">
            <p-dropdown
                [options]="careers"
                formControlName="careerIdDelete"
                optionLabel="label"
                placeholder="Carrera"
                [style]="{'width':'100%'}" />
          </span>
        </div>
        <button type="submit">Eliminar</button>
      </form>
    </div>
  </div>
