@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.container {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    background: rgb(33, 68, 159);
    background: radial-gradient(circle, rgba(33, 68, 159, 1) 0%, rgba(25, 52, 121, 1) 35%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #152C67;
    color: #fff;

    .logo-bar {
        width: 50px;
        height: 50px;
        display: flex;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar-title {
        margin-left: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .navbar-menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: auto;
    }

    .navbar-item {
        margin-left: 4rem;
    }

    .navbar-link {
        font-size: 20px;
        text-decoration: none;
        color: inherit;
        transition: all 0.3s ease-in-out;
        font-family: 'Paytone One', sans-serif;
    }

    .navbar-link::after {
        content: "";
        display: block;
        width: 30%;
        height: 2px;
        background-color: #F6B40E;
        transition: width 0.3s;
    }

    .navbar-link:hover {
        color: #fff;
    }
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    color: #fff;
}

.admin-container {
    display: flex;
    flex-direction: row;
    height: 88.5vh;

    .menu {
        width: 20%;
        background-color: #1e3266;
        padding: 2rem;
    }  

    .content {
        width: 80%;
        padding: 2rem;
        overflow-y: auto;
    }
}


@media (max-width: 1000px) {
    .navbar-menu .navbar-item {
        margin-left: 2rem;
    }

    .admin-container {
        flex-direction: column;
        
        .menu, .content {
            width: 100%;
        }

        .menu {
            order: 1;
        }

        .content {
            order: 2;
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .navbar-title {
        margin-left: 0;
        font-size: 1rem;
    }

    .navbar-menu {
        flex-direction: column;
        width: 100%;
    }

    .navbar-item {
        margin-left: 0;
        margin-top: 0.5rem;
    }

    .navbar-link {
        font-size: 18px;
    }

    .content {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 0.5rem;
    }

    .navbar-title {
        font-size: 0.9rem;
    }

    .navbar-link {
        font-size: 16px;
    }

    .content {
        padding: 0.5rem;
    }

    .admin-container {
        .menu {
            padding: 1rem;
        }

        .content {
            padding: 1rem;
        }
    }
}
