<div class="background"></div>
<div class="login-container">
  <div class="login-header">
    <img src="assets/logo1.png" alt="logo" class="login-logo">
    <h1 class="login-title">Iniciar Sesión</h1>
  </div>

  @if (loginStatus.error) {
    <div class="login-error">
      <p>{{ loginStatus.message }}</p>
    </div>
  }

  <form class="login-form" [formGroup]="loginGroup">
    <span class="p-float-label">
      <input pInputText id="ci"  aria-describedby="ci" formControlName="ci"/>
      <label for="ci">Ingresar cedula</label>
    </span>
    <br>
    <span class="p-float-label">
      <p-password id="password" class="login-input" aria-describedby="password" [feedback]="false" formControlName="password"/>
      <label for="password">Ingresar contraseña</label>
    </span>
  </form>
  <br>
  <p-button label="Entrar" [rounded]="true" size="large" [raised]="true"
    [style]="{'background-color': '#D13C48', 'border': '1px solid #CA3541', 'font-size':'18px', 'height': '10px', 'width':'200px', 'margin':'15px'}"
    [loading]="loading" (onClick)="load()"></p-button>
  <br>
  <small id="username-help">¿No estás registrado? <a href="/register"><u>Registrarme</u></a> </small>
</div>