@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 665px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

:host {
  content: "";
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2145a179;
  background-size: cover;
  background-position: center;
}

.login-header {
  text-align: center;
  font-family: paytone one;
  font-size: 24px;
}

.login-logo {
  width: 200px;
  height: auto;
}

.login-title::after {
  content: "";
  display: block;
  width: 10%;
  height: 3px;
  background-color: #D13C48;
}

.background{
  background-image: url("/assets/background-image.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.login-error{
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 325px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .login-title {
    font-size: 30px;
  }

  .p-float-label {
    margin-bottom: 10px;
  }

  p-button {
    max-width: 100%;
  }
}