<div class="background"></div>
<div class="login-container">
  <div class="login-header">
    <img src="assets/logo1.png" alt="logo" class="login-logo">
    <h1 class="login-title">Iniciar Sesión</h1>
  </div>

  @if (loginStatus.error) {
    <div class="login-error">
      <p>{{ loginStatus.message }}</p>
    </div>
  }

  <form class="login-form" [formGroup]="loginGroup">
    <span class="p-float-label" [style]="{'margin-top':'10px'}">
      <input pInputText id="ci" aria-describedby="ci" formControlName="ci"
      [style]="{'width':'275px'}">
      <label for="ci">Ingresar cédula</label>
    </span>
    <br>
    <span class="p-float-label">
      <p-password id="password" class="login-input" aria-describedby="password" [toggleMask]="true" [feedback]="false" formControlName="password"
      [style]="{'width':'270px'}"/>
      <label for="password">Ingresar contraseña</label>
    </span>
  </form>
  <br>
  <button pButton type="button" label="Entrar" class="p-button-danger" [style]="{'width':'280px'}" [raised]="true" [rounded]="true" [loading]="loading" (click)="load()"></button>
  <br>
  <br>
  <small id="username-help">¿No estás registrado? <a href="/register"><u>Registrarme</u></a> </small>
</div>