<div class="container">
  <app-navbar />
  <div class="game-container">
    <div class="header">
      <p-button type="button" label="Próximos partidos"
        [style]="{'background-color': '#D13C48', 'border': '1px solid #CA3541', 'font-size':'15px', 'height': '40px', 'width':'200px', 'margin':'15px', 'padding':'1rem'}">
        <i class="pi pi-calendar"></i>
      </p-button>
    </div>
    <div *ngIf="games.length === 0">
      No hay partidos disponibles.
    </div>
    <div *ngIf="games.length > 0">
    <div class="match-day" *ngFor="let game of games">
      <h2>{{ game.date }}</h2>
      <div class="match-cards">
        <div class="match-card" *ngFor="let match of games">
          <div class="details">
            <span>{{match.time}} - {{ match.stadium }}</span>
          </div>
          <div class="teams">
            <div class="team">
              <img src="../../assets/flag_placeholder.png" [class]="'flag flag-'+ match.team1 ">
              <span>{{ match.team1 }}</span>
            </div>
            <div class="score">
              <span>{{ match.scoreTeam1 }}</span>
              <span class="vs">VS</span>
              <span>{{ match.scoreTeam2}}</span>
            </div>
            <div class="team">
              <img src="../../assets/flag_placeholder.png" [class]="'flag flag-'+ match.team2">
              <span>{{ match.team2 }}</span>
            </div>
          </div>
          <p-button label="Ingresar predicción" size="large" [raised]="true"
          (onClick)="editPrediction(match.id)"
          [style]="{'background-color': '#2145A1', 'border': '1px solid #2145A1', 'font-size':'12px', 
              'height': '30px', 'width':'25vh', 'margin-top':'1.2rem'}"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>