@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import "primeicons/primeicons.css";

.container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 99vw;
  background: rgb(33, 68, 159);
  background: radial-gradient(circle, rgba(33, 68, 159, 1) 0%, rgba(25, 52, 121, 1) 35%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #152C67;
  color: #fff;
}

.logo-bar {
  width: 50px;
  height: 50px;
  display: flex;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-title {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navbar-item {
  margin-left: 4rem;
}

.navbar-link {
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
  font-family: 'paytone one';
}

.navbar-link::after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background-color: #F6B40E;
}

.navbar-link:hover {
  color: #fff;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  color: #fff;
}

h1 {
  text-align: left;
  font-size: 5rem;
  margin-bottom: 1rem;
  margin-left: 12rem;
  font-family: 'paytone one';
}

h2 {
  font-size: 1rem;
  color: #f4f4f4;
  text-align: left;
  margin-left: 12rem;
}

// content

.game-container {
  padding: 30px;
}

.header {
  text-align: left;
  margin-bottom: 20px;
  font-family: paytone one;
}

.match-day {
  margin-bottom: 40px;
}

.match-day h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 1.8em;
  font-family: paytone one;
}

.match-phase{
  font-family: paytone one;
  font-size: 1.5em;
  color: #333;
}

.match-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.match-card {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 38%;
}

.teams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: paytone one;

}

.team img {
  width: 50px;
  height: auto;
  margin-bottom: 5px;
}

.score {
  display: flex;
  margin: 10px;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.score .vs {
  margin: 0 40px;
  font-weight: bold;
  font-size: 1em;
  padding: 10%;
  color: #f4f4f4;
  border-radius: 70%;
  background-color: #d9534f;
}

.details {
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #333;
}

.details span {
  display: block;
}

// banderas

span.flag {
  width: 40px;
  height: 30px;
  display: inline-block;
}

.flag {
  background: url(../../assets/flags_responsive.png) no-repeat;
  background-size: 100%
}

.flag-AFA {
  background-position: 0 4.545455%
}

.flag-FBF {
  background-position: 0 11.570248%
}

.flag-CBF {
  background-position: 0 11.983471%
}


.flag-ACF {
  background-position: 0 14.876033%
}

.flag-FFC {
  background-position: 0 18.181818%
}

.flag-FCF {
  background-position: 0 19.421488%
}

.flag-FEF {
  background-position: 0 24.793388%
}

.flag-FEPAFUT {
  background-position: 0 68.181818%
}

.flag-FPF {
  background-position: 0 68.595041%
}

.flag-APF {
  background-position: 0 73.140496%
}

.flag-FFEU {
  background-position: 0 93.38843%
}

.flag-AUF {
  background-position: 0 93.801653%
}

.flag-FVF {
  background-position: 0 95.454545%
}
