<div class="container">
  <app-navbar />
  <div class="game-container">
    <div class="header">
      <p-button type="button" label="Próximos partidos"
        [style]="{'background-color': '#D13C48', 'border': '1px solid #CA3541', 'font-size':'15px', 'height': '40px', 'width':'200px', 'margin':'15px', 'padding':'1rem'}">
        <i class="pi pi-calendar"></i>
      </p-button>
    </div>
    <div class="match-day" *ngFor="let day of matchDays">
      <h2>{{ day.date }}</h2>
      <div class="match-cards">
        <div class="match-card" *ngFor="let match of day.matches">
          <div class="details">
            <span class="match-phase">{{ match.stage }}</span>
            <span>{{ match.time | date: 'short' }} - {{ match.venue }}</span>
          </div>
          <div class="teams">
            <div class="team">
              <img src="../../assets/flag_placeholder.png" [class]="'flag flag-'+ match.team1.code">
              <span>{{ match.team1.name }}</span>
            </div>
            <div class="score">
              <span>{{ match.team1.score }}</span>
              <span class="vs">VS</span>
              <span>{{ match.team2.score }}</span>
            </div>
            <div class="team">
              <img src="../../assets/flag_placeholder.png" class="flag flag-ar">
              <span>{{ match.team2.name }}</span>
            </div>
          </div>
          <p-button [label]="getButtonLabel(match)" routerLink="/predict" size="large" [raised]="true" [style]="{'background-color': '#2145A1', 'border': '1px solid #2145A1', 'font-size':'12px', 
              'height': '30px', 'width':'200px', 'margin-top':'1.2rem'}"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>