<div class="container">
  <app-navbar/>
  <div class="game-container">

    <div class="header">
      <h1>Partidos en vivo</h1>
    </div>
    <div *ngIf="games.inProgressGames.length === 0" class="no-partido">
      No hay partidos en vivo.
    </div>
    <div *ngIf="games.inProgressGames.length > 0">
      <div class="match-cards">
        <div class="match-card" *ngFor="let match of games.inProgressGames">
          <div class="details">
            <span>{{ match.date }} - {{ match.time }} - {{ match.stadium }}</span>
          </div>
          <div class="teams">
            <div class="team">
              <img src="../../assets/flag_placeholder.png" [class]="'flag flag-'+ match.team1 ">
              <span>{{ match.team1 }}</span>
            </div>
            <div class="score">
              <span>{{ match.scoreTeam1 }}</span>
              <span class="vs">VS</span>
              <span>{{ match.scoreTeam2 }}</span>
            </div>
            <div class="team">
              <img src="../../assets/flag_placeholder.png" [class]="'flag flag-'+ match.team2">
              <span>{{ match.team2 }}</span>
            </div>
          </div>
          <p-button label="Ya es muy tarde!" disabled="true" size="large" [raised]="true"
                    [style]="{'background-color': '#2145A1', 'border': '1px solid #2145A1', 'font-size':'12px',
              'height': '30px', 'width':'25vh', 'margin-top':'1.2rem'}"></p-button>
        </div>
      </div>
    </div>

    <hr>

    <div class="header">
      <h1>Partidos futuros</h1>
    </div>
    <div *ngIf="games.futureGames.length === 0" class="no-partido">
      No hay partidos a futuro.
    </div>
    <div *ngIf="games.futureGames.length > 0">
      <div class="match-cards">
        <div class="match-card" *ngFor="let match of games.futureGames">
          <div class="details">
            <span>{{ match.date }} - {{ match.time }} - {{ match.stadium }}</span>
          </div>
          <div class="teams">
            <div class="team">
              <img src="../../assets/flag_placeholder.png" [class]="'flag flag-'+ match.team1 ">
              <span>{{ match.team1 }}</span>
            </div>
            <div class="score">
              <span>{{ match.scoreTeam1 }}</span>
              <span class="vs">VS</span>
              <span>{{ match.scoreTeam2 }}</span>
            </div>
            <div class="team">
              <img src="../../assets/flag_placeholder.png" [class]="'flag flag-'+ match.team2">
              <span>{{ match.team2 }}</span>
            </div>
          </div>
          @if (isTooLate(match.date, match.time)){
            <p-button label="Ya es muy tarde!" disabled="true" size="large" [raised]="true"
                      [style]="{'background-color': '#2145A1', 'border': '1px solid #2145A1', 'font-size':'12px',
              'height': '30px', 'width':'25vh', 'margin-top':'1.2rem'}"></p-button>
          } @else {
            @if (match.myPrediction){
              <p-button label="Editar predicción" size="large" [raised]="true"
                        (onClick)="editPrediction(match)" [style]="{'background-color': '#2145A1', 'border': '1px solid #2145A1', 'font-size':'12px',
              'height': '30px', 'width':'25vh', 'margin-top':'1.2rem'}"></p-button>
            } @else {
              <p-button label="Ingresar predicción" size="large" [raised]="true" [disabled]="this.userService.GetRole() === 'ADMIN'"
                        (onClick)="enterPrediction(match)" [style]="{'background-color': '#2145A1', 'border': '1px solid #2145A1', 'font-size':'12px',
              'height': '30px', 'width':'25vh', 'margin-top':'1.2rem'}"></p-button>
            }
          }
        </div>
      </div>
    </div>

    <hr>

    <div class="header">
      <h1>Partidos pasados</h1>
    </div>
    <div *ngIf="games.pastGames.length === 0" class="no-partido">
      No hay partidos pasados.
    </div>
    <div *ngIf="games.pastGames.length > 0">
      <div class="match-cards">
        <div class="match-card" *ngFor="let match of games.pastGames">
          <div class="details">
            <span>{{ match.date }} - {{ match.time }} - {{ match.stadium }}</span>
          </div>
          <div class="teams">
            <div class="team">
              <img src="../../assets/flag_placeholder.png" [class]="'flag flag-'+ match.team1 ">
              <span>{{ match.team1 }}</span>
            </div>
            <div class="score">
              <span>{{ match.scoreTeam1 }}</span>
              <span class="vs">VS</span>
              <span>{{ match.scoreTeam2 }}</span>
            </div>
            <div class="team">
              <img src="../../assets/flag_placeholder.png" [class]="'flag flag-'+ match.team2">
              <span>{{ match.team2 }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
