<div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <img class="logo-bar" src="assets/logo2.png" alt="Logo" routerLink="/home">
        <span class="navbar-title">Penca UCU - Copa América USA 2024</span>
      </div>
      <ul class="navbar-menu">
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/ranking">Partidos</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/ranking">Ranking</a>
        </li>
      </ul>
      <p-avatar label="U" styleClass="mr-2"
        [style]="{ 'background-color': '#F6B40E', color: '#ffffff', 'margin-left': '5rem' }"
        (click)="menu.toggle($event)"></p-avatar>
      <br>
      <p-menu #menu popup="true" [style]="{'padding': '1rem', 'margin-right': '2rem'}">
        <ng-template pTemplate="end">
          <button
            class="relative overflow-hidden w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround">
            <p-avatar label="U" styleClass="mr-2" [style]="{ 'background-color': '#F6B40E', color: '#ffffff'}" />
            <span class="inline-flex flex-column">
              <span class="font-bold"> {{ users[0]?.name }}</span>
              <span class="font-bold" [style]="{'margin':'3rem'}"> {{ users[0]?.points }}pts</span>
            </span>
          </button>
          <hr>
          <span [style]="{'margin-right':'2rem', 'cursor': 'pointer'}" (click)="load()"> Log out <i class="pi pi-sign-out"></i>
          </span>
        </ng-template>
      </p-menu>
    </nav>
    <div class="edit-prediction-container">
        <div class="header">
            <h1>Editar Predicción</h1>
        </div>
        <div class="game-details">
            <div class="teams">
                <div class="team">
                    <img src="../../assets/flag_placeholder.png" [class]="'flag flag-'+ match.team1.code">
                    <span>Uruguay</span>
                </div>
                <div class="score">
                    <input type="number" id="score1" name="score1" min="0" value="2">
                    <span class="vs">VS</span>
                    <input type="number" id="score2" name="score2" min="0" value="1">
                </div>
                <div class="team">
                    <img src="../../assets/flag_placeholder.png" [class]="'flag flag-'+ match.team2.code">
                    <span>Argentina</span>
                </div>
            </div>
            <div class="details">
                <span>Cuartos de Final</span>
                <span>28 June, 22:00h - Parque Central, Montevideo</span>
            </div>
        </div>
        <div class="buttons">
            <button class="btn save">Save</button>
            <button class="btn cancel">Cancel</button>
        </div>
    </div>
      
    
  </div>