<div class="container">
  <app-navbar />
    <div class="content">
      <div class="edit-prediction-container">
        <div class="header">
          <h1>Editar Predicción</h1>
        </div>
        <div class="game-details">
          <div class="teams">
            <div class="team">
              <img src="assets/flag_placeholder.png" [class]="'flag flag-'+ match.team1.code">
              <span>Uruguay</span>
            </div>
            <div class="score">
              <input type="number" id="score1" name="score1" min="0" value="2">
              <span class="vs">VS</span>
              <input type="number" id="score2" name="score2" min="0" value="1">
            </div>
            <div class="team">
              <img src="assets/flag_placeholder.png" [class]="'flag flag-'+ match.team2.code">
              <span>Argentina</span>
            </div>
          </div>
          <div class="details">
            <span>Cuartos de Final</span>
            <span>28 June, 22:00h - Parque Central, Montevideo</span>
          </div>
        </div>
        <div class="buttons">
          <p-button label="Danger" severity="danger" />
        </div>
      </div>
    </div>
  </div>