@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import 'primeicons/primeicons.css';

body {  
  font-family: 'Paytone One', sans-serif;  
  background-color: #f2f2f2;  
}  
  
.container {  
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: rgb(33,68,159);
  background: radial-gradient(circle, rgba(33,68,159,1) 0%, rgba(25,52,121,1) 35%);
}  

.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido */
  align-items: center;
  padding: 2rem;
  text-align: center;
  color: #0b0b0b;
}

.gamecard {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  color: #0b0b0b;
}

.gamecard .team-name,
.gamecard .score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.gamecard .score {
  font-size: 36px;
  font-weight: bold;
}

.gamecard .score-arrow {
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.gamecard .team-name span {
  font-size: 20px;
  font-weight: bold;
}

.edit-prediction-container {
  width: 70%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-prediction-container h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
}

.edit-prediction-container .gamecard {
  margin-bottom: 30px;
}

.edit-prediction-container .buttons {
  display: flex;
  justify-content: center;
}

.edit-prediction-container .buttons button {
  background-color: #429794;
  font-family: 'Paytone One', sans-serif;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.edit-prediction-container .buttons button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .gamecard {
    padding: 10px;
  }
  
  .edit-prediction-container {
    padding: 20px;
  }
}
