<div class="container">
  <div class="app-navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="content">
    <p-dialog header="Registro exitoso" [(visible)]="displayModalAdd" modal="true" [closable]="false" [dismissableMask]="true">
      <p>La predicción se ha agregado exitosamente.</p>
      <p-button label="Aceptar" severity="info" (onClick)="onAccept()" [style]="{'float':'right', 'margin-top':'10px'}"></p-button>
    </p-dialog>
    <div class="edit-prediction-container">
      <div class="header">
        <h1>Ingresar Predicción</h1>
      </div>
      <div class="gamecard">
        <div class="team-name">
          <img src="../../assets/flag_placeholder.png" [class]="'flag flag-'+ teamA ">
          <span>{{teamA}}</span>
        </div>
        <div class="score">
          <p-inputNumber [(ngModel)]="prediction.team1score"
            [style]="{'width': '3rem','background':'#fff', 'color':'#000'}" [showButtons]="true"
            decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" buttonLayout="horizontal"
            spinnerMode="horizontal" inputId="horizontal">
          </p-inputNumber>
        </div>
        <div class="team-name">
          <img src="../../assets/flag_placeholder.png" [class]="'flag flag-'+ teamB ">
          <span>{{teamB}}</span>
        </div>
        <div class="score">
          <p-inputNumber [(ngModel)]="prediction.team2score"
            [style]="{'width': '3rem','background':'#fff', 'color':'#000'}" [showButtons]="true"
            decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" buttonLayout="horizontal"
            spinnerMode="horizontal" inputId="horizontal" />
        </div>
      </div>
      <div class="buttons">
        <button class="p-button p-button-success" (click)="savePrediction()">Guardar</button>
      </div>
      <br>
        <hr>
      <button class="p-button p-button-danger" (click)="cancel()">Cancelar</button>
    </div>
  </div>
</div>