<div class="container">
    <h2>Usuarios - Administración</h2>
    <div class="edit-user">
        <h2>Agregar Nuevo Administrador</h2>
        <form [formGroup]="formGroup" (ngSubmit)="addAdmin()">
            <div class="form-group">
                <label for="ci">Cédula</label>
                <input id="ci" formControlName="ci" type="number">
                <div class="validate" *ngIf="formGroup.get('ci')?.invalid && formGroup.get('ci')?.touched">Cédula es
                    requerida</div>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input id="password" formControlName="password" type="password">
                <div class="validate" *ngIf="formGroup.get('password')?.invalid && formGroup.get('password')?.touched">
                    Contraseña es requerida</div>
            </div>
            <div class="form-group">
                <label for="birthdate">Fecha de Nacimiento</label>
                <input id="birthdate" formControlName="birthdate" type="date" max="2018-12-31" value="2018-07-22">
                <div class="validate" *ngIf="formGroup.get('birthdate')?.invalid && formGroup.get('birthdate')?.touched">Fecha de nacimiento es requerida</div>
                </div>
            <div class="form-group">
                <label for="name">Nombre(s)</label>
                <input id="name" formControlName="name" type="text">
                <div class="validate" *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched">Nombre es requerido</div>
            </div>
            <div class="form-group">
                <label for="lastname">Apellido(s)</label>
                <input id="lastname" formControlName="lastname" type="text">
                <div class="validate" *ngIf="formGroup.get('lastname')?.invalid && formGroup.get('lastname')?.touched">Apellido es requerido</div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" formControlName="email" type="text">
                <div class="validate" *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">Email es requerido</div>
            </div>
            <button type="submit"> Agregar </button>
        </form>
    </div>
</div>