<div class="container">
    <h2>Usuarios - Administración</h2>
    <div class="edit-game">
        <h2>Crear Nuevo Usuario</h2>
        <form [formGroup]="userForm" >
            <div class="form-group">
                <label for="username">Nombre de Usuario</label>
                <input id="username" formControlName="username" type="text">
            </div>
            <button type="submit" [disabled]="!userForm.valid">Crear</button>
        </form>
    </div>

    <div class="edit-game">
        <h2>Agregar Nuevo Administrador</h2>
        <form [formGroup]="adminForm">
            <div class="form-group">
                <label for="adminUsername">Nombre de Usuario</label>
                <input id="adminUsername" formControlName="adminUsername" type="text">
            </div>
            <button type="submit" pButton [disabled]="!adminForm.valid"> Agregar </button>
        </form>
    </div>

    <div class="edit-game">
        <h2>Deshabilitar Usuario</h2>
        <form [formGroup]="disableUserForm" >
            <div class="form-group">
                <label for="disableUsername">Nombre de Usuario</label>
                <input id="disableUsername" formControlName="disableUsername" type="text">
            </div>
            <button type="submit" pButton [disabled]="!disableUserForm.valid">Deshabilitar</button>
        </form>
    </div>
</div>
