<div class="container">
  <app-navbar></app-navbar>
  <div class="container-2">
    <div class="content">
      <div class="title-container">
        <h1 class="titulo">Jugá <br>tu propia <br> Copa</h1>
        <h1 class="titulo">Participa de <br> la penca <br> UCU </h1>
      </div>
      <h2>Pronosticá los partidos de la Copa América y ganate tremendos premios.</h2>
      <p-button label="Ver Partidos" [rounded]="true" size="large" [raised]="true"
        [style]="{'background-color': '#D13C48', 'border': '1px solid #CA3541',
      'font-size':'18px', 'height': '40px', 'width':'200px', 'float':'left', 'margin-left':'22rem', 'margin-top':'1.2rem'}" (onClick)="loadGames()"></p-button>
    </div>
    <div class="image-container">
      <img src="assets/mockup.png" alt="Mockup Image" class="phone">
    </div>
  </div>
</div>
