@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.container { 
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: rgb(33, 68, 159);
  background: radial-gradient(circle, rgba(33, 68, 159, 1) 0%, rgba(25, 52, 121, 1) 35%); 
}

.navbar { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #152C67;
  color: #fff; 
}

.logo-bar {
  width: 50px;
  height: 50px;
  display: flex;
}

.navbar-brand { 
  display: flex;
  align-items: center; 
}

.navbar-title { 
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold; 
}

.navbar-menu { 
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto; 
}

.navbar-item { 
  margin-left: 4rem; 
}

.navbar-link { 
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
  font-family: 'paytone one'; 
}

.navbar-link::after { 
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background-color: #F6B40E; 
}

.navbar-link:hover { 
  color: #fff; 
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #e9eaef;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.ranking-title { 
  text-align: center;
  font-size: 2rem;
  font-family: 'Paytone One';
  margin-bottom: 2rem;
  color: #333; 
  font-weight: bold;
}

.ranking-list { 
  list-style: none;
  padding: 0;
  margin: 0; 
}

.ranking-row { 
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8;
}

.ranking-row:nth-child(1) {
  background-color: #dad3a9; 
}

.ranking-row:nth-child(2) {
  background-color: #c9c9c9; 
}

.ranking-row:nth-child(3) {
  background-color: #d7a674; 
}

.ranking-row:nth-child(1):hover {
  background-color: #c4bd96; 
}

.ranking-row:nth-child(2):hover {
  background-color: #bab8b8; 
}

.ranking-row:nth-child(3):hover {
  background-color: #be8a56; 
}

.ranking-position { 
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 2rem;
  color: #333; 
}

.ranking-name { 
  flex: 1;
  font-size: 1.2rem;
  color: #666; 
}

.ranking-points { 
  font-size: 1.2rem;
  color: #666;
  margin-left: auto;
}