<div class="container">
    <app-navbar />
    <div class="content">
        <h1 class="ranking-title">Posiciones de Alumnos</h1>
        <div *ngIf="scores.length === 0">
          No hay ranking disponible.
        </div>
        <ul *ngIf="scores.length > 0 ">
          <li class="ranking-row" *ngFor="let score of scores">
            <span class="ranking-position">{{ score }}</span>
            <span class="ranking-name">{{ score }}</span>
            <span class="ranking-points">Puntos: {{ score.points }}</span>
          </li>
        </ul>
      </div>
  </div>
  