<div class="background"></div>
<div class="register-container">
  <div class="register-header">
    <img src="assets/logo1.png" alt="logo" class="register-logo">
    <h1 class="register-title">Registro</h1>
  </div>

  <p-steps [activeIndex]="currentStep" [model]="items" [style]="{'font-size':'13px'}" ></p-steps>
  
  <br>

  <form class="register-form" *ngIf="currentStep === 0" [formGroup]="formGroup">
    <div class="register-form-row">
      <div class="register-form-column">
        <span class="p-float-label">
          <input pInputText id="name" formControlName="name" />
          <label for="name">Nombre(s)</label>
          <div  class="validate" *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched">Nombre es requerido</div>
        </span>
        <br>
        <span class="p-float-label">
          <p-inputNumber inputId="identity-input" formControlName="cedula" [useGrouping]="false"></p-inputNumber>
          <label for="identity-input">Cédula</label>
          <div class="validate" *ngIf="formGroup.get('cedula')?.invalid && formGroup.get('cedula')?.touched">Cédula es requerida</div>
        </span>
        <br>
        <span class="p-float-label">
          <input pInputText id="email" formControlName="email" />
          <label for="email">Correo electrónico</label>
          <div  class="validate" *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">Correo es requerido</div>
        </span>
        <br>
        <span class="p-float-label">
          <p-calendar inputId="birth_date" formControlName="birthdate" [iconDisplay]="'input'" [showIcon]="true"></p-calendar>
          <label for="birthdate">Fecha de nacimiento</label>
          <div  class="validate" *ngIf="formGroup.get('birthdate')?.invalid && formGroup.get('birthdate')?.touched">Fecha de nacimiento es requerida</div>
        </span>
      </div>
      <div class="register-form-column">
        <span class="p-float-label">
          <input pInputText id="surname" formControlName="surname" />
          <label for="surname">Apellido(s)</label>
          <div  class="validate" *ngIf="formGroup.get('surname')?.invalid && formGroup.get('surname')?.touched">Apellido es requerido</div>
        </span>
        <br>
        <span class="p-float-label">
          <p-dropdown 
              [options]="careers" 
              formControlName="career" 
              optionLabel="label" 
              placeholder="Carrera"
              [style]="{'width':'15.3rem'}" />
          <label for="career">Carrera</label>
          <div  class="validate" *ngIf="formGroup.get('career')?.invalid && formGroup.get('career')?.touched">Carrera es requerida</div>
        </span>
        <br>
        <span class="p-float-label">
          <p-password id="password" formControlName="password" class="register-input"></p-password>
          <label for="password">Contraseña</label>
          <div  class="validate" *ngIf="formGroup.get('password')?.invalid && formGroup.get('password')?.touched">Contraseña es requerida</div>
        </span>
      </div>
    </div>
    <br>
    <div class="next">
      <p-button label="Siguiente" [rounded]="true" size="large" [raised]="true"
        [style]="{'background-color': '#D13C48', 'border': '2px solid #CA3541', 'font-size':'17px', 'height': '20px', 'width':'200px','margin':'5px'}"
        (onClick)="nextStep()"></p-button>
      <br>
    </div>
  </form>

  <form class="register-form" *ngIf="currentStep === 1" [formGroup]="formGroup">
    <div class="step-2">
      <div class="register-form-row">
        <div class="register-form-column">
          <span>
            <p>Selecciona qué países crees que se llevarán el primer y segundo puesto.</p>
          </span>
          <hr>
          <br>
          <span class="p-float-label">
            <p-dropdown 
              [options]="countries" 
              formControlName="champion" 
              optionLabel="label" 
              placeholder="Campeón"
              [style]="{'width':'18rem'}">
            </p-dropdown>
            <div class="validate" *ngIf="formGroup.get('champion')?.invalid && formGroup.get('champion')?.touched">Campeón es requerido</div>
          </span>
          <br>
          <span class="p-float-label">
            <p-dropdown 
              [options]="countries" 
              formControlName="runnerup" 
              optionLabel="label" 
              placeholder="Subcampeón"
              [style]="{'width':'18rem'}">
            </p-dropdown>
            <div class="validate" *ngIf="formGroup.get('runnerup')?.invalid && formGroup.get('runnerup')?.touched">Subcampeón es requerido</div>
          </span>
        </div>
      </div>
    </div>
    <div class="next">
      <p-button label="Registrarme" [rounded]="true" size="large" [raised]="true"
        [style]="{'background-color': '#D13C48', 'border': '2px solid #CA3541', 'font-size':'17px', 'height': '20px', 'width':'200px','margin':'5px'}"
        (onClick)="register()"></p-button>
      <br>
    </div>
  </form>
  <small id="username-help">¿Ya estás registrado? <a href="/login"><u>Iniciar sesión</u></a> </small>
</div>
